<launch>
	<arg name="pi/2" value="1.5707963267948966" />
	<arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
	<node pkg="tf" type="static_transform_publisher" name="camera_base_link" args="$(arg optical_rotate) base_link camera_link 100" /> 
	<node pkg="camera_split" type="camera_split_node" name="camera_split_node" output="screen" >
	<param name="left_cam_file" value="file:///home/xuan/stereo_camera/calibrationdata/left.yaml" />
	<param name="right_cam_file" value="file:///home/xuan/stereo_camera/calibrationdata/right.yaml" />
</node>
	<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image" ns= "stereo_camera"/>
</launch>

